.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #202020;
  position: sticky;
}

.logo-header-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70vw;
}

.website-logo-header {
  width: 100px;
  height: 40px;
  cursor: pointer;
  outline: none;
  margin-right: 500px;
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.nav-link-text {
  font-family: 'Roboto';
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px;
}

.logout-btn {
  font-family: 'Roboto';
  font-size: 24px;
  color: #ffffff;
  background-color: #4f46e5;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-color: #4f46e5;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
